.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

node_modules/
.pnpm-store/
.turbo/
coverage/
dist/
*.tsbuildinfo

.next/
out/

.env
.env.*
!.env.example

packages/database/generated/
packages/database/prisma/migrations/**/migration_lock.toml

*.log
tmp/
